body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

.anime-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.anime-item {
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 150px;
}

.anime-item img {
    width: 100%;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #35424a;
    color: #ffffff;
}

input {
    margin: 5px;
    padding: 10px;
    width: 200px;
}

button {
    padding: 10px 15px;
    background-color: #35424a;
    color: white;
    border: none;
    cursor: pointer;
}
